<!DOCTYPE html>
<html lang="en">
<head>
	<title>Change Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
            <div class="arrows">
                <button type="button" class="glyphicon glyphicon-chevron-left" onclick="history.back()"/>
                <button type="button" class="glyphicon glyphicon-chevron-right" onclick="history.forward()"/>
            </div>
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <center><h2><%=msg%></h2></center><br><br>
				<form class="login100-form validate-form" method = "POST" action = "/forgetpassword">
					<span class="login100-form-title p-b-55">
						Change Password
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Id is required">
						<input class="input100" type="text" name="fid" placeholder="Faculty Id">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Faculty id is required">
						<input class="input100" type="password" name="pass1" placeholder="New Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							Change Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>