<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
        <style>
            @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.arrows {
    position: fixed;
    top: 10px !important;
    left: 10px !important;
    width: auto;
    height: auto;
}

button {
outline: none !important;
border: none;
background: transparent;
}

button:hover {
cursor: pointer;
}

.search {
  width: 100%;
  /* position: relative; */
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color:black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%; 
  position: relative;
  top: 3%;
  left: 50%;
  margin-bottom: 5px;
  transform: translate(-50%, -50%);
}
        </style>
    </head>
    <body>
      <div class="arrows">
        <button type="button" class="glyphicon glyphicon-chevron-left" onclick="history.back()"/>
        <button type="button" class="glyphicon glyphicon-chevron-right" onclick="history.forward()"/>
      </div>
        <div class="wrap">
            <form action="/SearchBar" method="POST">
            <div class="search">
               <input type="text" class="searchTerm" name = "ttbs" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
        </form>
        </div>
    </body>
</html>