<!DOCTYPE html>
<html lang="en">
<head>
	<title>Upload Video</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form" method="POST" action="/datauploaded">
					<span class="login100-form-title p-b-55">
						Upload Data
					</span>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="sname" placeholder="Enter Subject Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="scode" placeholder="Enter Subject Code">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="branch" placeholder="Enter branch(IT/CSE/ECE/EEE/CE/ME)">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

                    <div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="sem" placeholder="Enter Semester(1-1/1-2/2-1/2-2)">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

                    <div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="topic" placeholder="Enter topic name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

                    <div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="date" placeholder="Date(DD-MM-YYYY)">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

                    <div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="url" placeholder="Enter URL">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>